.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    margin-left: 32px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.map_container{
    height: 89%;
    width: 82%;
    position: absolute;
    right:0;
    bottom:0;
}

.map_container_closed{
    height: 89%;
    width: 100%;
    position: absolute;
    right:0;
    bottom:0;
}